@mixin font-face ($name, $path, $weight: null, $style: null, $range: null) {
  $src: null;
  $formats: (
    woff2: 'woff2',
    woff: 'woff'
  );
  @each $format, $key in $formats {
    $src: append($src, url($path + '.' + $key) format(quote($format)), comma);
  }
  @font-face {
    font-family: $name;
    font-weight: $weight;
    font-style: $style;
    src: $src;
    unicode-range: $range;
  }
}

@mixin pseudo ($content: '', $position: absolute, $display: block) {
  content: $content;
  position: $position;
  display: $display;
}

@mixin nested-list ($separator, $margin: 0) {
  ol {
    counter-reset: list;

    > li {
      list-style-type: none;

      &::before {
        counter-increment: list;
        content: counters(list, '#{$separator}') '#{$separator}';
        margin-right: $margin;
      }
    }
  }
}

@mixin responsive-property ($property, $from, $to, $start, $end) {
  @if $property == 'line-height' {
    @if not unitless($from) and unitless($to) {
      $from: $to / $from;
    }
  } @else {
    @if unitless($from) {
      $from: $to / $from;
    }
  }
  $m: ($to - $from) / ($end - $start);
  $b: $from - $m * $start;
  #{$property}: $to;
  @media (max-width: $end - .02px) {
    #{$property}: calc(#{$m} * 100vw + #{$b});
  }
  @media (max-width: $start - .02px) {
    #{$property}: $from;
  }
}