doctype html
html(lang="ru")
  head
    title Test
    link(href="/styles/main.css" rel="stylesheet")
    script(src="/scripts/main.js" defer)
  body
    .page
      h1 FontFace, PseudoElements
      div.example-1 Here
      h1 Nested List
      ol
        li Nam sed nibh ut mi viverra porttitor vitae a nulla.
        li Curabitur gravida elit non tempor auctor.
        li Integer ac tellus fringilla, finibus nisi et, malesuada libero.
        li Proin id sapien sit amet nisl efficitur eleifend.
          ol
            li Aenean ac nibh fermentum, pellentesque magna in, euismod turpis.
            li Nunc porta dolor lobortis ipsum euismod, nec aliquet sem fringilla.
            li Aenean cursus libero ut enim dapibus, ut sagittis ipsum finibus.
            li Donec tincidunt leo vel purus volutpat faucibus.
              ol
                li Donec sit amet lorem in nisi congue rhoncus.
                li Nullam sed lorem at ante interdum molestie.
                li Suspendisse lacinia orci quis ipsum scelerisque commodo.
                li Aliquam vulputate purus at sagittis fermentum.
            li Vivamus in sapien efficitur, bibendum augue id, bibendum metus.
            li Suspendisse scelerisque nisl in lobortis rutrum.
            li Aenean ac nibh fermentum, pellentesque magna in, euismod turpis.
            li Nunc porta dolor lobortis ipsum euismod, nec aliquet sem fringilla.
              ol
                li Mauris a ex ut mi volutpat hendrerit.
                li Curabitur pellentesque nisi vitae bibendum rhoncus.
                li Nulla nec ligula viverra, accumsan ex et, interdum lacus.
                li Aliquam suscipit nisl consequat suscipit interdum.
                  ol
                    li Donec sit amet lorem in nisi congue rhoncus.
                    li Nullam sed lorem at ante interdum molestie.
                    li Suspendisse lacinia orci quis ipsum scelerisque commodo.
                    li Aliquam vulputate purus at sagittis fermentum.
                li Morbi fringilla enim ut varius blandit.
                li Morbi consectetur nulla aliquet, viverra nisl vel, condimentum lorem.
        li Donec sit amet lorem in nisi congue rhoncus.
        li Nullam sed lorem at ante interdum molestie.
      h1 ResponsiveProperty (CSS Lock)
      div.css-lock